

{%  extends 'base.html' %}

{% block main %}

<main role="main">
    <div id="main">

        <section class="row section greyish">

            <div class="row-content buffer even clear-after">

                <div class="timeline column four push-one">
                    <div class="year">
                        <time>classify</time>
                        <div class="experience" style="height: 80px">
                            <span class="circle"></span>

                            <div class="experience-img"><img style='width:40px;'
                                                             src="/static/images/8_meitu_00.jpg"
                                                             alt=""></div>
                            <div class="experience-info clear-after" style="margin-top: 20px">
                                <a href="/blog/?type=10"><h5>lokimo说</h5></a>
                            </div>
                        </div>
                        <div class="experience" style="height: 80px">
                            <span class="circle"></span>

                            <div class="experience-img"><img style='width:40px;'
                                                             src="/static/images/8_meitu_10.jpg"
                                                             alt=""></div>
                            <div class="experience-info clear-after" style="margin-top: 20px">
                                <a href="/blog/?type=0"><h5>外星人说</h5></a>
                            </div>
                        </div>
                        <div class="experience" style="height: 80px">
                            <span class="circle"></span>

                            <div class="experience-img"><img style='width:40px;'
                                                             src="/static/images/8_meitu_11.jpg"
                                                             alt=""></div>
                            <div class="experience-info clear-after" style="margin-top: 20px">
                                <a href="/blog/?type=1"><h5>设计师说</h5></a>
                            </div>
                        </div>
                        <div class="experience" style="height: 80px">
                            <span class="circle"></span>

                            <div class="experience-img"><img style='width:40px;'
                                                             src="/static/images/8_meitu_12.jpg"
                                                             alt=""></div>
                            <div class="experience-info clear-after" style="margin-top: 20px">
                                <a href="/blog/?type=2"><h5>程序猿说</h5></a>
                            </div>
                        </div>
                        <div class="experience" style="height: 80px">
                            <span class="circle"></span>

                            <div class="experience-img"><img style='width:40px;'
                                                             src="/static/images/8_meitu_13.jpg"
                                                             alt=""></div>
                            <div class="experience-info clear-after" style="margin-top: 20px">
                                <a href="/blog/?type=3"><h5>艺术家说</h5></a>
                            </div>
                        </div>
                        <div class="experience" style="height: 80px">
                            <span class="circle"></span>

                            <div class="experience-img"><img style='width:40px;'
                                                             src="/static/images/8_meitu_14.jpg"
                                                             alt=""></div>
                            <div class="experience-info clear-after" style="margin-top: 20px">
                                <a href="/blog/?type=4"><h5>工程师说</h5></a>
                            </div>
                        </div>
                        <div class="experience" style="height: 80px">
                            <span class="circle"></span>

                            <div class="experience-img"><img style='width:40px;'
                                                             src="/static/images/8_meitu_15.jpg"
                                                             alt=""></div>
                            <div class="experience-info clear-after" style="margin-top: 20px">
                                <a href="/blog/?type=5"><h5>路人说</h5></a>
                            </div>
                        </div>
                        <div class="experience" style="height: 80px">
                            <span class="circle"></span>

                            <div class="experience-img"><img style='width:40px;'
                                                             src="/static/images/8_meitu_16.jpg"
                                                             alt=""></div>
                            <div class="experience-info clear-after" style="margin-top: 20px">
                                <a href="/blog/?type=6"><h5>投资人说</h5></a>
                            </div>
                        </div>
                        <div class="experience" style="height: 80px">
                            <span class="circle"></span>

                            <div class="experience-img"><img style='width:40px;'
                                                             src="/static/images/8_meitu_17.jpg"
                                                             alt=""></div>
                            <div class="experience-info clear-after" style="margin-top: 20px">
                                <a href="/blog/?type=7"><h5>搬砖说</h5></a>
                            </div>
                        </div>
                        <div class="experience" style="height: 80px">
                            <span class="circle"></span>

                            <div class="experience-img"><img style='width:40px;'
                                                             src="/static/images/8_meitu_18.jpg"
                                                             alt=""></div>
                            <div class="experience-info clear-after" style="margin-top: 20px">
                                <a href="/blog/?type=8"><h5>学僧说</h5></a>
                            </div>
                        </div>
                    </div>
                    <!-- year -->

                </div>
                <div class="timeline-label column seven last">

                    <div class="grid-items blog-section masonry-style preload">
                        <article class="item column three" style="width:70%">
                            <a href="#">
                                <figure onclick="showOverlay('blog')"><img src="/static/images/plus.png" alt="">
                                </figure>

                                <div class="blog-excerpt">
                                    <div class="blog-excerpt-inner">
                                        <h5 class="meta-post">lokimo, 公元前2000年</h5>

                                        <h2>战斗宣言</h2>

                                        <p>我正在寻找需要的资源，创造出我所认为正确的世界。我需要你的帮助，请与我一起战斗。</p>
                                    </div>
                                </div>
                            </a>
                        </article>
                        {#                        <article class="item column three" style="width:70%">#}
                        {#                            <a href="#">#}
                        {#                                <figure><img src="/static/img/pic.jpg" alt=""></figure>#}
                        {#                                <div class="blog-excerpt">#}
                        {#                                    <div class="blog-excerpt-inner">#}
                        {#                                        <h5 class="meta-post">跑男们, 2015-06-03 19:12</h5>#}
                        {##}
                        {#                                        <h2>《奔跑吧兄弟2》强势回归！</h2>#}
                        {##}
                        {#                                        <p>#}
                        {#                                            第二季节目将于2015年4月17日回归浙江卫视周五黄金档，第二季节目由邓超、Angelababy（杨颖）、郑恺、李晨、王祖蓝、陈赫、包贝尔组成“奔跑团”全新开跑</p>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </a>#}
                        {#                        </article>#}
                        {% for blog in blogs %}
                            <article class="item column three" style="width:70%">

                                <figure><img src="http://54.223.148.123:8000/static/images/{{ blog.blog_id }}.jpg"
                                             alt=""></figure>
                                <div class="blog-excerpt">
                                    <div class="blog-excerpt-inner">
                                        <h5 class="meta-post">
                                            {{ blog.blog_name }},
                                            {{ blog.blog_time }}</h5>

                                        <h2>{{ blog.blog_title }}</h2>

                                        <p>
                                            {{ blog.blog_content }}</p>
                                    </div>
                                    <div style="text-align: right;color: grey;cursor: pointer">我要报名</div>
                                </div>

                            </article>
                        {% endfor %}



                        <div class="shuffle-sizer three"></div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<div id="imagelightbox-overlay" style="display: none;height: 100%;top: 0;background-color: white;border-radius:1em;"
     class="column push-two eight ">

    <div class="row">

        <div class="row-content buffer clear-after">


            <div class="row-content buffer even clear-after">
                <!--<div class="section-title"><h3>Contact</h3></div>-->
                <form class="contact-section" method="post" enctype="multipart/form-data" action="/addBlog/"
                      onsubmit="return check(this)">
                    <span class="pre-input"><i class="icon icon-phone-one"></i></span>
                    <input class="name plain buffer" type="tel" placeholder="手机号（必填）" name="blog_tel" id="blog_tel">
                    <span class="pre-input"><i class="icon icon-user"></i></span>

                    <input class="name plain buffer" type="text" placeholder="用户名（选填）" name="blog_name" id="blog_name">

                    <span class="pre-input"><i class="icon icon-doc"></i></span>

                    <input class="name plain buffer" type="text" placeholder="标题（必填）" name="blog_title" id="blog_title">

                    <textarea class="name plain buffer" placeholder="内容（必填）" style="height: 80px"
                              name="blog_content" id="blog_content"></textarea>
                    <!--<span class="pre-input"><i class="icon icon-images"></i></span>-->

                    <div class="fileUpload btn btn-primary column eleven  ">
                        <span>上传图片:</span>
                        <input type="file" class="upload" name="blog_img" id="blog_img"/>
                    </div>

                    <div class="column eleven">
                        <span>身份:</span>

                        <div id="showImg"></div>

                        <select name="blog_role" onchange="showRole()" id="blog_role">
                            <option value="0">外星人</option>
                            <option value="1">设计师</option>
                            <option value="2">程序猿</option>
                            <option value="3">艺术家</option>
                            <option value="4">工程师</option>
                            <option value="5">路人</option>
                            <option value="6">投资人</option>
                            <option value="7">搬砖</option>
                            <option value="8">学僧</option>
                        </select>

                    </div>
                    <div style="height: 20px"></div>
                    <input class="plain button red  column three push-one" style="float: left"
                           type="submit" value="提交">
                    <input class="plain button red  column three push-two" style="float: left"
                           type="button" value="取消" onclick="hiddenOverlay('blog')">

                </form>
            </div>


            <div class="shuffle-sizer three"></div>

            <!-- grid-items -->

        </div>
    </div>
</div>


<div id="invite-overlay"
     style="display: none;position: fixed;bottom:0;z-index: 9998;background-color: white;height: 35%;width: 100%;"
     onclick="hiddenOverlay('invite')">
    <div class="span5" style="text-align: center">

        <div class="">
            <img src="" id="form-lokimo">
        </div>
        <div class="form-img">
            <img src="" id="form-img">
        </div>
        <div class="application">

            <div class="form-group">
                <input class="form-control" id="id_phone" maxlength="30" name="phone" placeholder="Phone"
                       type="text"/>

            </div>
            <div class="form-group">
                <input class="form-control" id="id_email" name="email" placeholder="Email" type="email"/>
            </div>
            <!--<div class="form-group">-->
            <!--<input class="form-control" id="id_password" name="password" placeholder="Password" type="password" />-->
            <!--<p class="error-message">This field has errored.</p>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<input checked="checked" id="id_subscribe" name="subscribe" type="checkbox" />Yes! I want the weekly newsletter!-->
            <!--</div>-->

            <button class="btn signup-button btn-block" id="button" type="submit">获得邀请码</button>

        </div>
    </div>


</div>

<script>
    function showOverlay(value) {
        if (value == 'blog') {
            document.getElementById("imagelightbox-overlay").style.display = "block";
        }
        else if (value == 'invite') {

            document.getElementById("invite-overlay").style.display = "block";
        }
    }
    function hiddenOverlay(value) {
        if (value == 'blog') {
            document.getElementById("imagelightbox-overlay").style.display = "none";
        } else if (value == 'invite') {
            document.getElementById("invite-overlay").style.display = "none";
        }

    }

    function submitBlog() {
        var blog_tel = document.getElementById("blog_tel").value;
        var blog_name = document.getElementById("blog_name").value;
        var blog_title = document.getElementById("blog_title").value;
        var blog_content = document.getElementById("blog_content").value;
        var blog_img = document.getElementById("blog_img").value;
        var blog_role = document.getElementById("blog_role").value;

        {#        var url = "http://54.223.183.60:8070/addBlog/?blog_tel=" + blog_tel + "&blog_name=" + encodeURI(blog_name) + "&blog_title=" + encodeURI(blog_title) + "&blog_content=" + encodeURI(blog_content) + "&blog_img=" + blog_img + "&blog_role=" + blog_role ;#}
        {##}
        {#        $.get(url, function (data) {#}
        {##}
        {#            alert(data);#}
        {##}
        {#        });#}
    }
    function showRole() {
        var role = document.getElementById("blog_role").value;
        if (role == '0') {
            document.getElementById("showImg").innerHTML = "";
            document.getElementById("showImg").innerHTML = "<img style='width:40px;' src='/static/images/8_meitu_10.jpg'>";
        } else if (role == '1') {
            document.getElementById("showImg").innerHTML = "";
            document.getElementById("showImg").innerHTML = "<img style='width:40px;' src='/static/images/8_meitu_11.jpg'>";
        } else if (role == '2') {
            document.getElementById("showImg").innerHTML = "";
            document.getElementById("showImg").innerHTML = "<img style='width:40px;' src='/static/images/8_meitu_12.jpg'>";
        } else if (role == '3') {
            document.getElementById("showImg").innerHTML = "";
            document.getElementById("showImg").innerHTML = "<img style='width:40px;' src='/static/images/8_meitu_13.jpg'>";
        } else if (role == '4') {
            document.getElementById("showImg").innerHTML = "";
            document.getElementById("showImg").innerHTML = "<img style='width:40px;' src='/static/images/8_meitu_14.jpg'>";
        } else if (role == '5') {
            document.getElementById("showImg").innerHTML = "";
            document.getElementById("showImg").innerHTML = "<img style='width:40px;' src='/static/images/8_meitu_15.jpg'>";
        } else if (role == '6') {
            document.getElementById("showImg").innerHTML = "";
            document.getElementById("showImg").innerHTML = "<img style='width:40px;' src='/static/images/8_meitu_16.jpg'>";
        } else if (role == '7') {
            document.getElementById("showImg").innerHTML = "";
            document.getElementById("showImg").innerHTML = "<img style='width:40px;' src='/static/images/8_meitu_17.jpg'>";
        } else if (role == '8') {
            document.getElementById("showImg").innerHTML = "";
            document.getElementById("showImg").innerHTML = "<img style='width:40px;' src='/static/images/8_meitu_18.jpg'>";
        }
    }
    function check() {

        var blog_tel = document.getElementById("blog_tel").value;
        var blog_title = document.getElementById("blog_title").value;
        var blog_content = document.getElementById("blog_content").value;
        var blog_img = document.getElementById("blog_img").value;
        var blog_role = document.getElementById("blog_role").value;
        if (blog_tel.length != 11) {
            alert("请输入有效手机号！");
            return false;
        } else if (blog_title.length == 0) {
            alert("请输入标题！");
            return false;
        } else if (blog_content.length == 0) {
            alert("请输入内容！");
            return false;
        } else if (blog_img.length == 0) {
            alert("请上传图片！");
            return false;
        } else if (blog_role.length == 0) {
            alert("请选择角色！");
            return false;
        }
        return true;

    }

</script>

{% endblock  %}
